    /**** Start Background Color ****/



.white {

    color: white;

}



.blue {

    background: #28ABE3;

}



.green {

    background: #72bf48;

}



.red {

    background: #FF432E;

}



.light-red {

    background: #FB6648;

}



.light-orange {

    background: #FA6900;

}



.color {

    background: #0ECEAB;

}



.purple{

    background: #9b59b6;

}



.menu-item {

    color: #fff;

    padding-top: 45px;

    padding-bottom: 45px;

    margin-bottom: 30px;

	-webkit-transition: all 0.3s;

	transition: all 0.3s;

    border: 5px solid transparent;

	

}



.menu-item:hover{

    border: 5px solid rgba(255, 255, 255, 0.70);

}



.menu-item a {

    color: #fff;

    display: block;

	-webkit-transition: all 0.3s;

	transition: all 0.3s;

}



.menu-item a p {

    font-family: 'Oswald', sans-serif;

    font-weight: 300;

    font-size: 20px;

}



.menu-item a i {

    font-size: 50px;

    padding-bottom: 20px;

}



.menu-item:hover a {

    text-decoration: none;

}





.alert {

  padding: 20px;

  background-color: #f44336;

  color: white;

  opacity: 1;

  transition: opacity 0.6s;

  margin-bottom: 15px;

}



.alert.success {background-color: #4CAF50;}

.alert.info {background-color: #2196F3;}

.alert.warning {background-color: #ff9800;}



.closebtn {

  margin-left: 15px;

  color: white;

  font-weight: bold;

  float: right;

  font-size: 22px;

  line-height: 20px;

  cursor: pointer;

  transition: 0.3s;

}



.closebtn:hover {

  color: black;

}



#wrap{

  width:1000px;

  height:800px;

  margin:0 auto;

  background-color:white

}

#konten{

  background-color:white;

  width:1000px;

  height:auto;

  margin:0 0 20px;

  padding:20px 20px 20px 20px;

  float:left;

  box-shadow:0 0 10px rgba(0,0,0,.25)

}


.height-brosur{ height: 640px; }


/* MOBILE VERSION */
@media (min-width: 500px) and (max-width: 720px) { 
   .height-brosur{
	height: 300px;
   }
   #wrap{

  	width:550px;

  	height:800px;

  	margin:0 auto;

  	background-color:white

   }

   #konten{
        background-color:white;

  	width:550px;

  	height:auto;

  	margin:0 0 20px;

  	padding:20px 20px 20px 20px;

  	float:right;

 	box-shadow:0 0 10px rgba(0,0,0,.25)
    }
    
}
@media (min-width: 720px) and (max-width: 992px) { 
   .height-brosur{
	height: 300px;
   }
   #wrap{

  	width:750px;

  	height:800px;

  	margin:0 auto;

  	background-color:white

   }

   #konten{
        background-color:white;

  	width:750px;

  	height:auto;

  	margin:0 0 20px;

  	padding:20px 20px 20px 20px;

  	float:right;

 	box-shadow:0 0 10px rgba(0,0,0,.25)
    }
    
}

@media only screen and (max-width: 500px) { 
   .height-brosur{
	height: 300px;
   }
   #wrap{

  	width:350px;

  	height:800px;

  	margin:0 auto;

  	background-color:white

   }

   #konten{
        background-color:white;

  	width:350px;

  	height:auto;

  	margin:0 0 20px;

  	padding:20px 20px 20px 20px;

  	float:right;

 	box-shadow:0 0 10px rgba(0,0,0,.25)
    }
}

.posttitle h1{

  text-decoration:none;

  font-family:arial;

  color:#f8ba01;

}



.posttitle a h1 {

  text-decoration:none

}

.posttitle h1 strong{

  text-decoration:none;

  font-size:30px;

  font-family:arial;

  color:blue;

}

.post{

  margin:0 20px 0 20px;

  text-align:justify

}

    #title{ font-size: 20px }
    
    #postdate{ font-size: 10px}

}

@media only screen 

and (min-width : 600px) 

and (max-width : 991px) {

    

    .menu-item {

        display: inline-block;

        width: 32.8%;

    }

    

    .menu-item.responsive {

        width: 49.5%;

        float: left;

        margin-right: 3px;

        margin-top: 5px;

    }

    

    .menu-item.responsive-2 {

        width: 49.5%;

        float: right;

        margin-top: 5px;

    }

    

    

}


@media only screen 

and (min-width : 992px) 

and (max-width : 1199px) {

    .menu-item {

        padding-top: 15px;

        padding-bottom: 15px;

    }

    .menu-item a i {

        font-size: 32px;

    }

    .menu-item a p {

        font-size: 16px;

    }

}